body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: linear-gradient(to right, #00bfff, #007bff);
    background-position: 0% 100%;
    animation: water-effect 5s infinite;
}

@keyframes water-effect {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@media (max-width: 900px) {
    .container {
        max-width: 80%;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }
}