.container {
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type='text']{
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #FF5300;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s all ease;
}

button:hover{
    background-color: #FF8200;
}

h2 {
    font-size: 25px;
}

p {
    margin-bottom: 5px;
}

img {
    width: 120px;
    height: auto;
}